.main{
  width: 450px;
  height: 600px;
  
  margin: auto;
  margin-top: 2%;
  border-radius: 20px;
  overflow: hidden;
}
body{
    background-color: rgb(255, 255, 255);
}
footer{
    text-align: center;
}
.display{
    width: 100%;
    height: 100px;
    color: aliceblue;
    font-size: 3rem;
    
   
    background-color: rgb(42, 42, 42);
}
.btn-cnt{
    width: 100%;
    height: 500px;

    display: grid;

    background-color: rgb(33, 32, 32);
   

}
.btn{
   
   
   display: flex;
    justify-content: center; 
    align-items: center; 
}
.rows{
    display: flex;
    margin: auto;
    gap: 40px;
}

button{
    font-size: 30px;
    border-radius: 30px;
    width: 70px;
    height: 70px;
    background-color: rgb(80, 80, 80);

    color: rgb(255, 255, 255);
    border: 0;
}
.btn :hover{
    background-color: rgb(95, 95, 95);
}
.fn button{
    background-color: rgb(255, 162, 3);
}
.fn :hover{
    background-color: rgb(255, 175, 37);
}